@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: Hellix;
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
p {
  font-size: 14.5px;
  color: #111235;
  font-weight: 400;
  line-height: 24px;
}

h1,
h2 {
  font-weight: 500;
}
h1 {
  font-size: 36px;
  line-height: 43px;
  margin: 20px 0;
}

h2 {
  font-size: 36px;
  line-height: 43px;
}
h6 {
  font-size: 24px;
  line-height: 29px;
}
.textBold {
  font-weight: 700;
}
.bar {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.bottom-bar {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content-container {
  margin: 40px 15px;
}

.section-content-container img {
  width: 100%;
}

.section-content-container h1 {
  font-size: 64px;
  line-height: 75px;
}
.section-content-container p {
  margin: 15px 0;
}
.button {
  text-decoration: none;
  display: block;
  width: 225px;
  padding: 15px 0;
  border-radius: 35px;
  margin: 30px auto;
}

.btn-main {
  background: #4b5092;

  color: #ffffff;
}
.btn-white {
  background: #ffffff;
  color: #436baa;
}
.section-2 {
  margin-top: 100px;
}
.sections-234-Header2 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 15px;
}
.text-container {
  background: #f2f8ff;
  padding: 30px 20px 50px;
}

.section-3 {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
  padding-top: 30px;
  margin-top: 90px;
}
.section-3 h2 {
  font-size: 43.5px;
  line-height: 58px;
}
.section-3 p:nth-child(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
}
.section-3 p:nth-child(3) {
  margin-bottom: -17px;
}
.section-4 {
  margin-top: 60px;
}
.fitness-guy img {
  margin-bottom: -3px;
}

.txt-container {
  background: #e4f0ff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 50px 54px 50px 42px;
  margin-bottom: 20px;
}
.different-color {
  background: rgba(114, 122, 239, 0.1);
}

.pd-40 {
  margin-top: 40px;
}
.pd-50 {
  margin-top: 50px;
}
.mr-157 {
  margin-right: 110px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 35px;
}

a {
  text-decoration: none;
  color: #111235;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.section-5 {
  margin-top: 43px;
}
.email-socialMedia p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  font-feature-settings: "liga" off;
  margin-right: 40px;
}

input[type="text"] {
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: #111235;
  background: url("https://assets.codepen.io/6060109/icon-send.png") no-repeat
    scroll #ffffff 215px 12px;
  padding-left: 10px;
}
.social-media-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 30px 0;
  margin-bottom: 60px;
}
.social-media-logo img:nth-child(1) {
  width: 17.07px;
  height: 17.07px;
  margin: 0 16px;
}
.social-media-logo img:nth-child(2) {
  width: 17.07px;
  height: 17.04px;
  margin: 0 16px;
}
.social-media-logo img:nth-child(3) {
  width: 15.49px;
  height: 12.8px;
  margin: 0 16px;
}
.social-media-logo img:nth-child(4) {
  width: 17.07px;
  height: 12.27px;
  margin: 0 16px;
}
.text-copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  font-feature-settings: "liga" off;
}
