@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: Hellix;
}
html,
body {
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
}
.main-container {
  max-width: 425px;
  margin: auto;
}
h1,
h2,
h3,
p,
h5,
h6 {
  color: #111235;
}
h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  margin: 30px 0 20px;

  color: #111235;
}

h3 {
  font-weight: 500;
  font-size: 36px;
}
h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

h6 {
  font-size: 24px;
  line-height: 29px;
}

h5 {
  font-size: 18px;
}
#h5-500-24 {
  font-weight: 500;
  line-height: 24px;
  margin: 20px 0 40px;
}
#h5-600-24 {
  font-weight: 500;
  line-height: 28px;
}

.bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.top-bar {
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  padding: 15px 0;
}
.bottom-bar {
  text-align: center;

  padding: 25px 0;
}

.content-container {
  padding: 40px 15px;
}
.content-container img {
  width: 100%;
}
.button {
  display: block;
  text-decoration: none;
  background: #4b5092;
  border-radius: 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 15px 0;
  width: 252px;
  margin: 30px auto;
  text-align: center;
}
.btn-Sign-up {
  background: #ffffff;
  color: #436baa;
}

.section-2 h2 {
  margin: 20px 0;
}
.blue-container {
  background: #f2f8ff;
  width: 100%;
}

.section-2 .text-container {
  padding: 40px 20px;
  box-sizing: border-box;
}
.section-3 {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
  margin-top: 90px;
}

.section-3 .text-container {
  padding: 0 10px;
}

.section-3 img {
  margin-bottom: -43px;
}
.section-4 {
  margin-top: 40px;
}

.section-4 h2 {
  margin: 40px 0 30px;
}
.panel {
  background: #e4f0ff;
  border-radius: 30px;
  padding: 50px 54px 50px 42px;
  margin-bottom: 20px;
}
.panel-2-3 {
  background: rgba(114, 122, 239, 0.1);
}

.panel h6 {
  padding-bottom: 20px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-80 {
  margin-right: 80px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 20px 0;
  color: #111235;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.section-5 h5 {
  padding-top: 40px;
}
input[type="text"] {
  margin-top: 16px;
  padding: 10px 10px 10px 15px;
  width: 255px;
  border-radius: 8px;
  border: none;
}
input {
  background: url("https://assets.codepen.io/6060109/icon-send.png") 95% 50%
    white no-repeat;
  height: 30px;
  padding-left: 25px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 32px;
  height: 32px;
  background-color: rgba(128, 173, 245, 0.2);
  border-radius: 50%;

  margin: 25px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img:nth-child(1) {
  height: 17.07px;
  width: 17.07px;
}
.icon img:nth-child(2) {
  height: 17.07px;
  width: 17.04px;
}
.icon img:nth-child(3) {
  height: 12.8px;
  width: 15.49px;
}
.icon img:nth-child(4) {
  height: 12.27px;
  width: 17.07px;
}
.h2-desktop {
  display: none;
}
.btn-desktop {
  display: none;
}
.nav-bar {
  display: none;
}

@media only screen and (min-width: 992px) {
  .main-container {
    max-width: 1500px;
  }

  .top-bar {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 85%;
    margin-left: 80px;
  }
  .nav-bar {
    display: block;
  }
  .button {
    width: 252px;
    padding: 20px 20px;
  }

  .top-bar li {
    display: inline-block;
    margin: 0 20px;
  }
  .outer-container {
    margin: 0 10%;
  }
  .section-1 .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .section-1 .text-container {
    text-align: left;
    width: 48%;
  }
  .section-1 .content-container img {
    width: 40%;
    margin-left: 20px;
  }
  .section-1 .button {
    margin-left: 0;
    width: 40%;
  }
  .section-1 p {
    width: 80%;
  }
  .section-2 .content-container {
    display: flex;
    justify-content: center;
  }
  .section-2 .content-container img {
    width: 40%;
    margin-right: 38px;
  }
  .blue-container {
    width: 35%;
    height: 363px;
    border-radius: 50px;
  }

  .section-3 .content-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .section-3 .content-container img {
    width: 35%;
    margin-bottom: -40px;
    margin-right: 35px;
  }
  .section-3 .text-container {
    width: 30%;
  }
  .section-3 .button {
    margin: 40px 0 0;
  }
  .panels-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 30px;
  }
  .panels-img-container img {
    width: 20%;
  }
  .panels-img-container .panels {
    display: flex;

    flex-wrap: wrap;
  }
  .panel {
    width: 30%;
    margin-left: 20px;
  }

  .h2-mobile {
    display: none;
  }
  .btn-mobile {
    display: none;
  }

  .h2-desktop {
    display: block;
  }
  .btn-desktop {
    display: block;
  }

  .btn-h2-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-h2-desktop > * {
    margin: 0 0 0 0;
  }
  .icons {
    display: none;
  }
  .section-5 .content-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .section-5 .content-container h3 {
    margin-right: 70px;
  }

  .stay-up-date {
    width: 30%;
    padding: 0;
    display: block;
  }
  .bottom-bar {
    width: 30%;
  }
  .bottom-links {
    width: 30%;
    height: 196px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bottom-links li {
    align-self: flex-start;
  }
}
